* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.SerenataSinMariachis {  
    display: block;       
    margin: 35px auto;    
    max-width: 90%;       
    height: auto;          
    border-radius: 10px;   
    box-shadow: 0 0 10px #00000088;
}

.Sadman {  
    display: block;       
    margin: 35px auto;    
    max-width: 90%;       
    height: auto;          
    border-radius: 10px;   
    box-shadow: 0 0 10px #00000088;
}

.CRO {  
    display: block;       
    margin: 35px auto;    
    max-width: 90%;       
    height: auto;          
    border-radius: 10px;   
    box-shadow: 0 0 10px #00000088;
}

.Buhodermia {  
    display: block;       
    margin: 35px auto;    
    max-width: 90%;       
    height: auto;          
    border-radius: 10px;   
    box-shadow: 0 0 10px #00000088;
}

  @keyframes flotar {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-10px); }
    100% { transform: translateY(0); }
  }

  .SerenataSinMariachis {
    width: 100%;
    max-width: 300px;
    animation: flotar 2.5s ease-in-out infinite;
    display: block;
    margin: 30 auto;
  }

  .Sadman {
    width: 100%;
    max-width: 300px;
    animation: flotar 2.5s ease-in-out infinite;
    display: block;
    margin: 30 auto;
  }

  .CRO {
    width: 100%;
    max-width: 300px;
    animation: flotar 2.5s ease-in-out infinite;
    display: block;
    margin: 30 auto;
  }

  .Buhodermia {
    width: 100%;
    max-width: 300px;
    animation: flotar 2.5s ease-in-out infinite;
    display: block;
    margin: 30 auto;
  }

  .Musica h2 {
  margin-top: 1rem;
  position: relative;
  padding-left: 3.4rem;
  margin-bottom: -0.5rem;
  font-size: 1.20rem;
  font-weight: 500;
  animation: slideInLeft 0.9s forwards;
  animation-delay: 0.4s;
  opacity: 0;
}